---
layout: blog
title: Blog 
paginate:
    collection: posts
    per_page: 3
---
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Company<strong>blog</strong></h2>
            <hr>
        </div>
        {% for post in paginator.posts %}
        <div class="col-lg-12 text-center">
            <img class="img-responsive img-border img-full" src="{{ post.frontimagesrc | prepend: site.baseurl }}" alt="{{ post.frontimagealt }}">
            <h2>{{ post.title }}
                <br>
                <small>{{ post.date | date: '%B %d, %Y' }}</small>
            </h2>
            <p>{{ post.excerpt | markdownify }}</p>
            <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-default btn-lg">Read More</a>
            <hr>
        </div>
        {% endfor %}
        <div class="col-lg-12 text-center">{% include blog_pager.html %}</div>
    </div>
</div>